@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import './Header.scss';
@import './MainSection.scss';
@import './MainBlock.scss';
@import './NewArticles.scss';
@import './ArticlesList.scss';
@import './BottomSection.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: 'Inter';
    color: hsl(236, 13%, 42%);
}
a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

